dotfiles_repo: git@github.com:aljets/dotfiles.git
dotfiles_repo_dest: ~/tools/dotfiles
dotfiles_files:
  - {file: '.vimrc', dest: ~/.vimrc}
  - {file: '.gitconfig', dest: ~/.gitconfig}
  - {file: '.tmux.conf', dest: ~/.tmux.conf}
  - {file: '.kitty.conf', dest: ~/.config/kitty/kitty.conf}
  - {file: 'fish/config.fish', dest: ~/.config/fish/config.fish}  # requires fish to be run once before it works
  - {file: 'fish/functions', dest: ~/.config/fish/functions_from_dotfiles}
scripts_repo: git@github.com:aljets/dotfiles.git
scripts_repo_dest: ~/tools/dotfiles
scripts_repo_bin_directory: bin
tmux_plugin_manager_repo_dest: ~/tools/tmux-plugin-manager
brew_cask_packages:
  - {package: 'kitty'}
  - {package: 'font-fira-code'}
  # doesn't seem to be discovering cask installed, erroring, so had to make brew_cask playbook
brew_packages:
  - awscli
  #- amazon-ecs-cli  # for accessing ECS logs
  - bat
  - fd
  - fish
  - the_silver_searcher
  - fswatch  # for swatching files to sync pipelines
  - git
  # - java  # for okta cli :\ and trino
  - jq
  - node
  - parquet-cli
  - tfenv
  - tldr
  - tree
  - vim
  - pgformatter
  - pyenv
  - rclone
  - mdcat
  - cheat # experimental
  - usql # universal sql client
  - xsv
  - less # for version 600+, which adds header option for pinning headers
apt_packages:
  - fish
  - silversearcher-ag
  - vim-gtk  # gtk has 'clipboard' support
  - npm
  - make
  - tldr
  - tmux
  - python3-pip
  - python3-venv
python_versions:
  - {version: '3.12.12', venv: 'py312'}
python_packages:
  - isort
  - flake8
  - mypy
user_name: ajax
