[defaults]
inventory = hosts
# facts aren't required in the playbooks, turns off by default for speed
gathering = explicit

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
