---
- hosts: all
  tasks:
  #- name:  install/upgrade brew cask packages
  #  homebrew:
  #    name: "{{ brew_cask_packages }}"
  #    state: latest
  #  register: brew_cask_packages
  #- name: Changed cask packages
  #  debug:
  #    var: brew_cask_packages.changed_pkgs
  - name: update brew
    homebrew:
      update_homebrew: yes
  - name: install/upgrade brew packages
    homebrew:
      name: "{{ item }}"
      state: latest
    loop: "{{ brew_packages }}"
    register: brew_packages_result
  - name: Changed packages
    debug:
      msg: "{{ brew_packages_result.results | selectattr('changed', 'equalto', true) | map(attribute='item') | list }}"
