---
- hosts: all
  tasks:
  - name: ensure autoload directory exists
    file:
      path: ~/.vim/autoload
      state: directory
  - name: set up vim-plug
    get_url:
      url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
      dest: ~/.vim/autoload/plug.vim
  - name: upgrade plug
    shell: vim +PlugUpgrade +'%w /tmp/vim-plug.log' +qall > /dev/null && cat /tmp/vim-plug.log
    register: result
    changed_when: result.stdout != ''
  - name: log if upgraded plug
    shell: cat /tmp/vim-plug.log
    register: result
    changed_when: result.stdout != ''
  - name: update plugins
    shell: vim +PlugUpdate +'%w /tmp/vim-plug.log' +qall > /dev/null && cat /tmp/vim-plug.log
  - name: log if upgraded plugins
    shell: cat /tmp/vim-plug.log
    register: result
    changed_when: result.stdout != ''
  - name: install plugins
    shell: vim +PlugInstall +'%w /tmp/vim-plug.log' +qall >/dev/null && cat /tmp/vim-plug.log
  - name: log if installed new plugins
    shell: cat /tmp/vim-plug.log
    register: result
    changed_when: result.stdout != ''
  - name: create vimbackup dir
    file:
      path: ~/.vimbackup
      state: directory
